
@media screen and (min-width: 1480px){
    header>div,
    footer div,
    section.bestSeller>div{
        max-width: 1480px; margin: 0 auto;
    }


    header{
        width: 100%; height: 100px;
    }
    header>div h1 a{
        line-height: 100px; display: block;
    }
    header>div h1 a img{
        width: 100%;
    }
    /* header>div>*{
        float: right;
    } */
    header>div::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header>div h1{
        max-width: 150px; float: left;
    }
    header>div nav{
        width: 83%; margin-left: 8%; float: right;
    }
    header>div nav>ul{
        float: left;
    }
    header>div nav::after{
        content: ''; display: block; clear: both; visibility: hidden;
    }
    header>div nav ul>li>a{
        line-height: 100px; display: block;
    }
    header>div nav ul>*{
        float: left; 
    }
    header>div nav ul>li:not(:first-of-type){
        margin-left: 60px;
    }
    header>div nav ul li ol{
        display: none;
    }
    header>div nav>div{
        float: right;
    }
    header>div nav>div a{
        line-height: 100px; display: inline-block;  
    }
    header>div nav>div a:not(:first-of-type){
        padding-left: 30px;
    }
    /* header>div nav>div a:not(:last-of-type)::after{
        content: '|'; display: block; line-height: 0;
    } */
    header>div nav ul::after{
        content: ''; display: block; clear: both; visibility: hidden;
    }
    

    footer{
        background-color: rgb(73, 73, 73); 
    }
    footer div{
        padding: 80px 0;
    }
    footer div h2{
        max-width: 150px; float: left;
    }
    footer div h2 a{
        line-height: 50px; display: block;
    }
    footer div h2 a img{
        width: 100%;
    }
    footer div ol{
        list-style: none; float: right; width: 75%; margin-bottom: 80px; 
    }
    footer div::after{
        content: ''; display: block; clear: both; visibility: hidden;
    }
    footer div ol li{
        float: left;
    }
    footer div ol::after{
        content: ''; display: block; clear: both; visibility: hidden;
    }
    footer div ol li h3{
        line-height: 60px; 
    }
    footer div ol li a{
        display: block;
    }
    footer div ol li:not(:first-of-type){
        margin-left: 200px;
    }
    footer div>span{
        width: 1480px; background-color: #ffffff; opacity: 0.3;
        height: 1px; display: block; float: left;
    }
}