html,
body{
  position: relative;height: 100%;
}


@media screen and (min-width: 360px) and (max-width: 1199px){
  .swiperArea{
    padding-top: 100px; box-sizing: border-box; margin-bottom: 100px;
    min-height: 550px;
  }
  .swiperArea .swiper-container{
    max-height: 550px;
  }
  .mainSwiperItem{
    width: 100%; position: relative; height: 100%;
  }
  .mainSwiperItem::after{
    content: ''; display: block; background-color: rgba(70, 70, 70, 0.1);
    position: absolute; left: 0; top: 0; width: 100%; height: 100%;
  }
  .mainSwiperItem a{
    width:100%; position: relative; min-height: 550px; height: 100%; 
  }
  .mainSwiperItem a img{
    width: 100%; height: 100%; min-height: 550px; min-width: 1700px;
  } 
  .mainSwiperItem a div{
    padding: 0 3%; box-sizing: border-box; 
    position: absolute; left: 10%; top: 35%;  
    text-align: left;
  }
  .mainSwiperItem a div>*{
    color: #ffffff; 
  }
  .mainSwiperItem a div::after{
    content: ''; display: block; clear: both; visibility: hidden;
  } 
  .mainSwiperItem a div strong{
    font-size: 45px; line-height: 80px; margin-bottom: 20px;
    font-family: 'playfairDisplay';
  }
  .mainSwiperItem a div p{
    font-size: 23px; line-height: 40px;
  }


  .bestSeller>div h2{
    margin-bottom: 30px; font-size: 1.5rem; text-align: center;
  }
  .bestSeller>div ul{
    width: 80%; margin: 0 auto; max-width: 600px;
  }
  .bestSeller>div ul li{
    text-align: center; margin-bottom: 30px;
    width: 33.33%; line-height: 80px; float: left; list-style: none;
  }
  .bestSeller>div ul li>a{
    color: #aaaaaa;
  }
  .bestSeller>div ul li.categoryActive>a{
    border-bottom: 2px solid; padding-bottom: 10px; box-sizing: border-box; color: #feb900;
  }
  .bestSeller>div ul::after{
    content: ''; display: block; clear: both; visibility: hidden;
  }
  .bestSeller>div ol li{
    list-style: none; display: none;
  }
  .bestSeller>div ol li.slide_active{
    display: block;
  }
  li.best .swiper-total .swiper-container .swiper-wrapper .swiper-slide{
    display: flex; 
    /* flex-wrap: wrap;  */
    /* align-content: center; */
    justify-self: center;
    flex-direction: column;
    border-bottom: 0.1px solid rgba(70, 70, 70, 0.3); box-sizing: border-box;
  }
  li.best .swiper-total .swiper-container .swiper-wrapper .swiper-slide:hover{
    border-bottom: 0.1px solid rgba(70, 70, 70, 1); 
  }
    
  li.best .swiper-total .swiper-container .swiper-wrapper .swiper-slide img{
    opacity: 1;
    width: 100%; max-width: 300px; margin-bottom: 30px; transition: transform 0.2s;
  }
  li.best .swiper-total .swiper-container .swiper-wrapper .swiper-slide img:hover{
    transform: scale(1.1); opacity: 0.5; 
  }
  li.best .swiper-total .swiper-container .swiper-wrapper .swiper-slide:hover dl dt{
    font-weight: 600; color: rgba(90, 41, 8, 0.8);
  }
  .swiper-slide dl>*{
    margin-bottom: 15px;
  }
  dl dt{
    width: 300px;
  }
  .best .swiper-total .swiper-container .swiper-wrapper .swiper-slide,
  .swiper-slide dl{
    margin-bottom: 50px;
  }

  .loccitane_banner{
    height: 500px; width: 100%; padding: 10%; box-sizing: border-box;
    background: url('../images/main_banner.jpg') no-repeat center;
    background-size: cover; position: relative;
  }
  .loccitane_banner::before{
    background-color: rgba(0, 0, 0, 0.1);
    content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%;
  }
  .loccitane_banner h2{
    display: none;
  }
  .loccitane_banner div::after{
    content: ''; display: block; clear: both; visibility: hidden;
  }
  .loccitane_banner div{
    position: relative;
  }
  .loccitane_banner div p{
    font-size: 22px; top: 45%; margin-bottom: 15px; line-height: 50px;
  }
  .loccitane_banner div *{
    color: #ffffff; text-align: right;
  }
  .loccitane_banner div .mainAD_product{
    display: block; font-size: 30px; margin-bottom: 15px; 
  }
  .loccitane_banner div .pd_price{
    font-size: 25px; 
  }
  .loccitane_banner div .viewbutton{
    float: right;
  }

    
  .introduce{
    /* height: 500px;  */
    width: 80%; position: relative; padding-top: 100px;
  }
  .introduce::after{
    content: ''; display: block; clear: both; visibility: hidden;
  }
  .introduce img{
    width: 100%; 
    /* max-width: 80%; float: left; margin-right: 30px; */
  }
  .introduce h2{
    /* display: inline-block; */
    /* line-height: 30px; */
    /* margin: 20px 0 30px; */
    /* left: 0;  */
    font-size: 45px; position: absolute;
    top: 0; width: 100%; text-align: center;
  }
  .introduce p{
    width: 100%; 
    /* float: left;  */
    line-height: 40px; font-size: 20px; 
    margin: 30px 0;
  }
  /* .introduce .viewbutton{
    float: right;
  } */
}




@media screen and (min-width: 1200px){
  .swiperArea{
    padding-top: 100px; box-sizing: border-box; margin-bottom: 100px;
    min-height: 550px;
  }
  .swiperArea .swiper-container{
    max-height: 550px;
  }
  .mainSwiperItem{
    width: 100%; position: relative; height: 100%;
  }
  .mainSwiperItem::after{
    content: ''; display: block; background-color: rgba(70, 70, 70, 0.1);
    position: absolute; left: 0; top: 0; width: 100%; height: 100%;
  }
  .mainSwiperItem a{
    width:100%; position: relative; min-height: 550px; height: 100%; 
  }
  .mainSwiperItem a img{
    width: 100%; height: 100%; min-height: 550px; min-width: 1700px;
  } 
  .mainSwiperItem a div{
    padding: 0 3%; box-sizing: border-box; 
    position: absolute; left: 10%; top: 35%;  
    text-align: left;
  }
  .mainSwiperItem a div>*{
    color: #ffffff; 
  }
  .mainSwiperItem a div::after{
    content: ''; display: block; clear: both; visibility: hidden;
  } 
  .mainSwiperItem a div strong{
    font-size: 45px; line-height: 80px; margin-bottom: 20px;
    font-family: 'playfairDisplay';
  }
  .mainSwiperItem a div p{
    font-size: 23px; line-height: 40px;
  }


  .bestSeller>div h2{
    margin-bottom: 30px; font-size: 1.5rem; text-align: center;
  }
  .bestSeller>div ul{
    width: 50%; margin: 0 auto; max-width: 600px;
  }
  .bestSeller>div ul li{
    text-align: center; margin-bottom: 30px;
    width: 33.33%; line-height: 80px; float: left; list-style: none;
  }
  .bestSeller>div ul li>a{
    color: #aaaaaa;
  }
  .bestSeller>div ul li.categoryActive>a{
    border-bottom: 2px solid; padding-bottom: 10px; box-sizing: border-box; color: #feb900;
  }
  .bestSeller>div ul::after{
    content: ''; display: block; clear: both; visibility: hidden;
  }
  .bestSeller>div ol li{
    list-style: none; display: none;
  }
  .bestSeller>div ol .slide_active{
    display: block;
  }
  .best .swiper-total .swiper-container .swiper-wrapper .swiper-slide{
    display: flex; 
    /* flex-wrap: wrap;  */
    /* align-content: center; */
    justify-self: center;
    flex-direction: column;
    border-bottom: 0.1px solid rgba(70, 70, 70, 0.3); box-sizing: border-box;
  }
  .best .swiper-total .swiper-container .swiper-wrapper .swiper-slide:hover{
    border-bottom: 0.1px solid rgba(70, 70, 70, 1); 
  }
  .best .swiper-total .swiper-container .swiper-wrapper .swiper-slide a{
    color: #000000;
  }
  .best .swiper-total .swiper-container .swiper-wrapper .swiper-slide a img{
    opacity: 1;
    width: 100%; max-width: 300px; margin-bottom: 30px; transition: transform 0.2s;
  }
  .best .swiper-total .swiper-container .swiper-wrapper .swiper-slide a img:hover{
    transform: scale(1.1); opacity: 0.5; 
  }
  .best .swiper-total .swiper-container .swiper-wrapper .swiper-slide:hover a dl dt{
    font-weight: 600; color: rgba(90, 41, 8, 0.8s);
  }
  .best .swiper-total .swiper-container .swiper-wrapper .swiper-slide a dl>*{
    margin-bottom: 15px;
  }
  .best .swiper-total .swiper-container .swiper-wrapper .swiper-slide a dl dt{
    width: 300px;
  }
  .best .swiper-total .swiper-container .swiper-wrapper .swiper-slide,
  .best .swiper-total .swiper-container .swiper-wrapper .swiper-slide a dl{
    margin-bottom: 50px;
  }

  .loccitane_banner{
    height: 500px; width: 100%; padding: 150px 10%; box-sizing: border-box;
    background: url('../images/main_banner.jpg') no-repeat center;
    background-size: cover; position: relative;
  }
  .loccitane_banner::before{
    background-color: rgba(0, 0, 0, 0.1);
    content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%;
  }
  .loccitane_banner h2{
    display: none;
  }
  .loccitane_banner div::after{
    content: ''; display: block; clear: both; visibility: hidden;
  }
  .loccitane_banner div{
    position: relative;
  }
  .loccitane_banner div p{
    font-size: 22px; top: 45%; margin-bottom: 15px; 
  }
  .loccitane_banner div *{
    color: #ffffff; text-align: right;
  }
  .loccitane_banner div .mainAD_product{
    display: block; font-size: 30px; margin-bottom: 15px; 
  }
  .loccitane_banner div .pd_price{
    font-size: 25px; 
  }
  .loccitane_banner div .viewbutton{
    float: right;
  }

    
  .introduce{
    height: 500px; width: 80%;
  }
  .introduce::after{
    content: ''; display: block; clear: both; visibility: hidden;
  }
  .introduce img{
    width: 100%; max-width: 50%; float: left; margin-right: 30px;
  }
  .introduce h2{
    display: inline-block;
    line-height: 30px; margin: 20px 0 30px;
    font-size: 45px;
  }
  .introduce p{
    width: 45%; float: left; line-height: 40px; font-size: 20px; 
    margin-bottom: 30px;
  }
  .introduce .viewbutton{
    float: left; 
  }
  

}



.swiperArea .swiper-container{
    width: 100%;
}

.best .swiper-total .swiper-container{
    width: 100%;
    height: auto;
}
.best .swiper-total .swiper-container{
    margin-bottom: 100px;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

    
