


@media screen and (min-width: 1480px){

    .product_face{
        padding-top: 100px; margin: 0 auto; 
    }
    .product_face h2{
        line-height: 150px; text-align: center; color: #ffffff; position: relative;
        background-color: rgba(0, 0, 0, 0.2); font-size: 30px;
    }
    .product_face h2:after{
        font-size: 30px; z-index: 0;
        content: ''; display: block; position: absolute; left: 0; top: 0; 
         width: 100%; height: 100%; z-index: -1;
        background: url('../images/face_backgroundimg.jpg') center top no-repeat; 
    }
    
    .product_face ul>li{
        float: left; list-style: none; line-height: 80px;
    }
    .product_face ul::after{
        content: ''; display: block; clear: both;
    }
    
   
    .PD_category{
        margin-bottom: 50px;
        justify-content: space-evenly; padding: 0 10%; box-sizing: border-box;
        width: 100%; display: flex; border-bottom: 0.5px solid black;
    }
    .PD_category li{
        width: 100%; text-align: center;
    }
    .PD_category li:not(:first-child) a{
        border-left: 0.5px solid black; 
    }
    .PD_align{
        display: flex; justify-content: flex-end; box-sizing: border-box; padding: 0 10%; 
    }
    .PD_align li{
        padding: 0 1%;
    }
    

    .product_face ol{
        max-width: 1480px; margin: 0 auto; display: flex; 
        flex-basis: 25%;
        justify-content: start;
        flex-wrap: wrap;
    }
    
    
    .product_face ol li.show{
        display: flex;
    }
    .product_face ol li::after{
        content: ''; display: block; background: rgba(238, 238, 238, 1); transition: 0.2s ease-in-out;
        transform: translateY(510px);
    }
    .product_face ol li{
        display: none; 
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column; transition: background-color 0.1s ease-in-out;
        min-height: 510px; 
        /* background-color: #f8f8f8; */
        /* border: 1px solid black; */
        /* background: rgba(238, 238, 238, 0);
        transition: 0.2s ease-in-out; */
        list-style: none; box-sizing: border-box;
        min-width: 300px; 
        width: 25%;
    }
    .product_face ol li:hover::after{
        transform: translateY(0px);
    }
    .product_face ol li img{
        width: 100%; max-width: 340px; height: 340px;
    }
    .product_face ol li dl{
        margin-bottom: 10px; 
        /* width: 100%; */
    }
    .product_face ol li dl>*{
        text-align: center;
        margin: 0 auto 10px; 
        width: 70%;
    }
    .product_face ol li div{
        width: 90%; margin: 0 auto; overflow: hidden; height: 50px;
    }
    .product_face ol li div::after{
        content: ''; display: block; clear: both; visibility: hidden;
    }
    .product_face ol li div span{
        height: 50px; display: block; float: left; transition: transform 0.2s ease-in-out; transform: translateY(50px);
        /* margin-top: 50px; */
        box-sizing: border-box; border: 1px solid rgba(73, 73, 73, 0.1); background-color: #ffffff;
    }
    
    .product_face ol li:hover div span{
        transform: translateY(0px);
        /* margin-top: 0px;  */
    }
    span.a{
        width: 45.28%; margin-right: 10px; 
    }
    span.b, span.c{
        width: 25%; 
    }

}


