


@media screen and (min-width: 1480px){

    .joinArea{
        background-color: seashell; padding: 200px 20% 100px; margin: 0 auto; box-sizing: border-box;
    }
    .joinArea h2{
        font-size: 30px; margin-bottom: 50px;
    }
    .joinForm>div{
        margin-bottom: 40px;
    }
    .joinForm>div>h3,
    .userInfo>div>h3{
        margin-bottom: 15px; font-size: 20px;
    }
    .joinForm>div>span,
    .userInfo>div>span{
        margin-bottom: 40px; display: block;
    }
    
    .joinForm>div>span>input,
    .userInfo>div>span>input{
        width: 40%; border: 1px solid #aaaaaa; border-radius: 5px; height: 30px;
    }
    .userInfo>div>div>span>*{
        width: 15%; border: 1px solid #aaaaaa; border-radius: 5px; height: 30px;
    }


}